* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: inherit;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline-block;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html, body {
    size: 100%;
}

._container {
    width: 100%;
    max-width: 1124px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.b-header {
    padding: 23px 0 27px 0;
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.b-header-flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.b-header-flex-nav-and-button {
    display: flex;
    align-items: center;
}

.logo {
    min-width: 165px;
    max-width: 165px;
}

.b-header__nav {
    display: flex;
}

.b-header__link {
    margin: 18px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: Regular 400;
    color: #2F281E;
    text-decoration: none;
}

.b-header__button-container {
    justify-self: flex-end;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-weight: Regular 400;
    background-color: #FF9900;
    color: white;
    width: 110px;
    height: 46px;
    border-radius: 4px;
    font-size: 16px;
}

.button:hover {
    background-color: white;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.b-header__button {
    align-self: flex;
    margin: 7px;
}

.b-conten {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.b-conten__text-block {
    vertical-align: top;
    width: 48%;
    display: inline-block;
}

.b-conten__img-block {
    width: 48%;
    display: inline-block;
}

.b-main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.b-footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.b-conten__wrapper-btn-link{
    display: flex;
    flex-wrap: wrap;
}


.b-conten__subtitle {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #2F281E;
    line-height: 27px;
}

.b-conten__title {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #2F281E;
    margin: 3px 0 22px 0;
}

.b-conten__title--main-title {
    display: inline-block;
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #2F281E;
}

.b-conten__paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #544837;
}

.b-conten__paragraph-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #544837;
    margin: 25px 0 12px 0;
}

.b-main__conten__text-block {
    padding: 90px 65px 0 0;
}

.info-column__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2F281E;
    margin: 30px 0 13px 0;
}

.info-column__paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.b-tool-presentation__title {
    display: block;
    max-width: 540px;
    margin-bottom: 58px;
}

.b-conten__img-right {
    margin: 0 0 0 100px;
}

.b-conten__img-left {
    margin: 0 100px 0 0px;
}

.b-conten__link {
    display: block;
    align-self: center;
    min-height: 18px;
    margin: 0 0 0px 20px;
    padding: 0 0 0 30px;
    background: url(./img/link-Video.svg) left no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: Regular 400;
    font-size: 16px;
    color: #FF9900;
}

.b-main__paragraph {
    margin-bottom: 25px;
}

.b-main__b-tool-presentation {
    display: flex;
    flex-direction: column;
}

.b-tool-presentation {
    text-align: center;
    align-items: center;
}

.b-tool-presentation__wrappers-columns {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.b-tool-presentation {
    padding: 0;
}

.info-column {
    display: block;
    width: 25%;
    min-width: 200px;
    max-width: 240px;
    max-height: 174px;
    margin-bottom: 15px;
}

.info-column__ico {
    max-width: fit-content;
}

.b-tool-presentation__button {
    margin: 34px 0 90px 0;
}

.button--wider {
    width: 175px;
    height: 53px;
}

.b-conten__text-block {
    margin-bottom: 25px;
}

.b-conten__list-item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #544837;
    list-style-type: none;
    padding: 10px 60px 10px 60px;
    background: url(./img/list_marker.svg) left no-repeat;
}

hr {
    /* margin: 140px 0 100px 0; */
    border: none;
    background-color: #BCD0E5;
    width: 95%;
    height: 2px;
    align: center;
}

.b-footer__wrapper-form {
    margin: 75px 0 0 0;
    display: block;
}

.b-footer__form {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: Regular 400;
    max-width: 325px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    color: #979797;
    display: block;
    margin: 28px 0 21px 0;
}
.b-footer__nav-links{
    margin: 75px 0 0 0;
    display: flex;
    flex-direction: row;

    }

.b-footer__link-column{
    display: inline-block;
    width: 135px;
    height: 205px;
}

.b-footer__link{
    display: block;
    margin: 0 0 20px 0 ;
    font-size: 14px;  
    font-family: 'Poppins', sans-serif;
    font-weight: Regular 400;
    color: #2F281E;
    text-decoration: none;
}



@media (max-width: 1098px) {
    .b-main__conten__text-block {
        padding: 40px 65px 0 0;
    }
    .b-conten__img-right {
        margin: 0 0 0 50px;
    }
    .b-conten__img-left {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 824px) {
    .b-header__link {
        margin: 5px;
    }
    .b-main__conten__text-block {
        padding: 30px 15px 0 0;
    }
    .b-conten__img-left {
        margin: 0 20px 0 0;
    }
}

@media (max-width: 720px) {
    .b-header-flex-wrapper {
        flex-wrap: wrap;
    }
    .b-header-flex-nav-and-button {
        justify-content: space-around;
        width: 100%;
    }
    .b-header {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .b-footer {
        flex-direction: column;
    }
    .b-footer__logo{
        margin-top: 30px;

    }
    .b-footer__wrapper-form{
        margin-top: 0;
    }
    .b-footer__link-column{
        height: auto;
        
    }
    .b-footer__nav-links{
        margin-top: 30px;
    }
}

@media (max-width: 675px) {
    .b-main__b-conten {
        flex-direction: column;
    }
    .b-main__b-conten-img-left {
        flex-direction: column-reverse;
    }
    .b-conten__text-block {
        width: 100%;
    }
    .b-conten__img-block {
        width: 100%;
    }
    .b-header {
        padding-bottom: 0;
    }
    .b-conten__img-right {
        margin: 0 auto;
    }
    .b-conten__img-left {
        margin: 0 auto;
    }
}

@media (max-width: 561px) {
    .b-header-flex-nav-and-button {
        flex-direction: column;
    }
    .b-header__nav {
        margin: 20px 0 20px 0;
    }
    .b-header__link {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: Regular 400;
        color: #2F281E;
        text-decoration: none;
    }
    .b-header {
        margin: 0;
    }
}

@media (max-width: 422px) {
    .b-conten__wrapper-btn-link {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .b-conten__link {
        margin: 0;
        line-height: 3.5;
        min-width: 155px;
    }
}



.info-column--bg{
    background:   red;
}



