@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');


.body {
    padding: 15px;
}

// .background-for-header {
//     background-image: url(..background-for-header/);
// }
// .content-box{
//     padding: 0 345px;
// }



.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url(../img/bg-Image-header.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

    &__title-bradn-name {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        letter-spacing: 4.8px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 18px 0;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 22px;
        letter-spacing: 6px;
        color: white;
        margin: 0 0 50px 0;

    }

   

    &__search-form {
        box-sizing: border-box;
        margin: 0 auto 120px auto;
        width: 650px;
        height: 61px;
        position: relative;
        display: block;
        border: none;

    }

    &__input-text {

        margin: 0;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        border: 2px white solid;
        padding-right: 150px;
        padding-left: 20px;

    }

    &__input-text::placeholder {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 14px;
        letter-spacing: 3px;
    }

    &__search-button {
        box-sizing: border-box;
        width: 146px;
        height: 55px;
        padding-right: 20px;
        background: #5474fd;
        position: absolute;
        right: 2px;
        top: 2px;
        border: none;
        font-family: 'Aleo', serif;
        font-weight: 400;
        letter-spacing: 1.4px;
        font-size: 14px;
        line-height: 26px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }

    &__scroll-down {
        position: relative;
        font-size: 14px;
        letter-spacing: 3px;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        padding-bottom: 25px;
        text-align: center;
        display: block;
    }

    &__scroll-down::after {
        content: url(../img/scrollDown.svg);
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    &__search-button::after {
        position: absolute;
        content: url(../img/search.svg);
        top: 19px;
        right: 20px;
    }

    &__central {
        flex: 1 0 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__nav{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #5474fd;
        align-self: flex-end;
        min-height: 80px;
        padding: 0 330px;
        
    }
    .header__logo-link{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
    
    .nav__links{
        display: flex;
    
    
    }
    
    .nav__link{
        align-self: flex-end;
        box-sizing: border-box;
        display: inline-block;
        text-transform: uppercase;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 14px;
        color: white;
        text-align: left;
        text-decoration: none;
        
    }
    .nav__item{
        position: relative;
        box-sizing: border-box;
        margin: 0 36px 0 0;
    }
    
    .nav__item:hover::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 20px;
        background-color: #acbcff;
    }
    
    .nav__links li:last-of-type  { 
        box-sizing: border-box;
        margin-right: 0px;
    }
    
}


.why-choose-us{
    height: 100vh;
    background: rgb(174, 113, 113);

}